//site color variables
$body-color: #1B2031;
$card-color: #32394f;
$nav-color: #32394f;
$primary-color: linear-gradient(270deg, #FF7D0B 0%, #FF3577 33.42%, #BE24BD 69.82%, #3F40D9 100%);

$secondary-color: #fff;
$text-color: #9D9EA5;
$text-color-dark: #00113E;
$site-ease: cubic-bezier(0.36, 0.03, 0, 0.91);
$gray: #F7F9FF;
$dark-gray: #646569;

// solid colors
$white: #fff;
$black: #000;

// Font Variables
$primary-font: 'Yeseva One', cursive;
$secondary-font: 'Poppins', sans-serif;
